<style>
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url(estiloMenu.css);
</style>


* {
    box-sizing: border-box;
    background: #000000;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #fff;
}

header {
    width: 100%;
    height: 80px;
    background: rgb(16, 48, 92);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor{
    display: table;
}
.PL{
    background: #fff;
    border: 5px solid rgb(16, 48, 92);
    margin-top: 100px;
    margin-bottom: 20px;
    display: block;
    height: auto;
    padding-bottom: 5px;
    border-radius: 10px;
}
#titulo{
    text-align: center;
    color: rgb(16, 48, 92);
    margin-left: 10%;
    margin-right: 10%;
    
}
.pInfo {
    background: white;
    padding: 10px;
    border-radius: 10px;   
    width: 90%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
#linea {
    border: 1px solid rgb(16, 48, 92);
}
.wait {
    background: yellow;
    border-radius: 10px;
    text-align: center;
    color: black;
    
}
.check {
    background: green;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 700;
}
.reject {
    background: red;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 700;
}
.finish {
    background: blue;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 700;
}
input[type="submit"] {
    background: #ff6600;
    border: 0;
    color: #FFFFFF;
    opacity: 0.9;
    border-radius: 10px;
    width: 100%;   
    font-weight: 700;
}
input[type="submit"]:hover  {
    opacity: 1;
}
input[type="submit"]:active {
    transform: scale(0.95);
}
.r {
    background: rgb(16, 48, 92)!important;
}
#dis_none {
    display: none;
}
.resp {
    width: 80%;
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
form {
    margin-bottom: 10px;
    background: rgb(16, 48, 92);
    border-radius: 10px;
    padding: 10px;
}
.tit {
    color: #ff6600;
}
.res {
    color: white;
}
@media(max-width:770px){
    .resp {
        display: block;
    }       
    #t_coord {
        display: none;
    }
    
    .r {
        background: white !important;
        color: black !important;
    }
}
#resp {
    display: none;
}
@media(max-width:400px){
    h1 {
        display: none;
    }   
    #resp {
        display: inherit;
    }
}
.btn {
    background: #ff6600;
    border: 0;
    color: #FFFFFF;
    opacity: 0.9;
    border-radius: 10px;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
}
#r {
    background: white !important;
    color: rgb(16, 48, 92) !important;
}
